html,
body,
div,
form,
fieldset,
legend,
caption,
label,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  outline: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  vertical-align: top;
}

img {
  border: 0;
}

movies-list {
  display: block;
}

.movies {
  padding: 14px;
}

movies-filter {
  display: block;
}

.movies__filters {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}
.movies__filter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 92px;
  appearance: none;
  background-color: #f6f7f8;
  border: 1px solid #c2cad0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: pointer;
  font-size: 1em;
  will-change: background-color, color, border, box-shadow;
  transition-property: background-color, color, border, box-shadow;
  transition-duration: 0.2s;
}
.movies__filter:hover, .movies__filter:focus {
  background-color: #e8ebed;
}
.movies__filter + .movies__filter {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.movies__filter:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.movies__filter--active, .movies__filter--active:hover, .movies__filter--active:focus {
  background-color: #1b73b1;
  border-color: #1b73b1;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  color: white;
  position: relative;
  z-index: 1;
}

movie-detail {
  display: block;
}

.movie {
  display: flex;
  padding: 14px;
  background-color: #e8ebee;
  border: 2px solid #303436;
  border-radius: 12px;
  margin-bottom: 14px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.movie:last-of-type {
  margin-bottom: 0;
}
.movie--loaded {
  opacity: 1;
}
.movie__image {
  width: 120px;
  min-width: 120px;
}
.movie__image img {
  width: 100%;
  border-radius: 10px;
}
@media (min-width: 600px) {
  .movie__image {
    width: 208px;
    min-width: 208px;
  }
}
.movie__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 25px;
}
.movie__inner {
  flex-grow: 1;
}
.movie__title {
  padding-bottom: 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #8e999f;
}
.movie__meta {
  display: flex;
  align-items: center;
  padding-top: 5px;
  font-size: 14px;
}
.movie__rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
  padding: 1px 7px 2px;
  border: 1px solid #8b979c;
  border-radius: 4px;
  color: #8b979c;
  font-family: Courier, monospace;
}
.movie__released {
  flex-grow: 1;
  text-align: right;
}
.movie__plot {
  margin-top: 14px;
}
.movie__footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 14px;
}
.movie__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 193px;
  background-color: #f9b248;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.2s;
}
.movie__button:hover, .movie__button:focus {
  background-color: #f89e16;
}

body {
  color: #303436;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.3;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=app.css.map */
