movies-filter {
  display: block;
}

.movies {
  &__filters {
    display: flex;
    justify-content: flex-end;
    margin-bottom: $p--xl;
  }

  &__filter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 92px;
    appearance: none;
    background-color: $c-filter;
    border: 1px solid $c-filter__border;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    cursor: pointer;
    font-size: 1em;
    will-change: background-color, color, border, box-shadow;
    transition-property: background-color, color, border, box-shadow;
    transition-duration: 0.2s;

    &:hover,
    &:focus {
      background-color: darken($c-filter, 5%);
    }

    & + & {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:last-of-type {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    &--active,
    &--active:hover,
    &--active:focus {
      background-color: $c-filter--active;
      border-color: $c-filter--active;
      box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.2);
      color: $c-white;
      position: relative;
      z-index: 1;
    }
  }
}