<div class="movie__image">
  <img ng-src="{{$ctrl.movie.Poster}}" ng-attr-alt="{{$ctrl.movie.Title}}" />
</div>

<div class="movie__details">
  <div class="movie__inner">
    <h2 class="movie__title">{{$ctrl.movie.Title}}</h2>

    <div class="movie__meta">
      <span class="movie__rating">{{$ctrl.movie.Rated || 'NR'}}</span>
      <span class="movie__runtime" ng-if="$ctrl.movie.Runtime"
        >{{$ctrl.movie.Runtime}}</span
      >
      <span class="movie__released" ng-if="$ctrl.movie.Released"
        >{{$ctrl.movie.Released}}</span
      >
    </div>

    <div class="movie__plot">{{$ctrl.movie.Plot}}</div>
  </div>

  <div class="movie__footer" ng-if="$ctrl.movie.imdbID">
    <a
      class="movie__button"
      ng-href="//imdb.com/title/{{$ctrl.movie.imdbID}}"
      ng-attr-title="View {{$ctrl.movie.Title}} on IMDB."
      target="_blank"
      >View on IMDB</a
    >
  </div>
</div>
